extends ./templates/tpl.pug

block body
  h1 Testando o Gulp
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nostrum, esse consequatur. Nisi, sunt illum voluptatum ipsam voluptates, labore, quaerat accusamus inventore delectus commodi neque. Rem ad cum molestiae doloribus!
